@{
	Layout = null;
}

@model Phim

<!DOCTYPE html>
<html lang="vi" class="csstransforms3d">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Phim Biệt Đội Rất Ổn Việt Nam (2023) | Galaxy Cinema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta property="fb:admins" content="1692090397">
    <meta property="fb:admins" content="100001920439162">
    <meta property="fb:app_id" content="1427253957539434">
    <meta property="og:url" content="https://www.galaxycine.vn/phim/biet-doi-rat-on">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Biệt Đội Rất Ổn: Phi Vụ Để Đời Của Gia Đình Miệt Vườn">
    <meta property="og:image" content="https://www.galaxycine.vn/media/2023/3/27/470_1679906756739.jpg">
    <meta property="og:description" content="Màn kết hợp bất đắc dĩ của Biệt Đội Rất Ổn - Phong, Khuê và Gia Đình Cục Súc nhằm qua mắt “cô dâu, chú rể” tại khu resort sang chảnh hứa hẹn cực kỳ gay cấn, hồi hộp nhưng không kém phần hài hước, xúc động.">
    <link rel="canonical" href="https://www.galaxycine.vn/phim/biet-doi-rat-on">
    <link rel="shortcut icon" href="/favicon.ico?version=20201127001" type="image/x-icon">
    <meta name="description" content="Xem thông tin phim Biệt Đội Rất Ổn (2023) hay tại Galaxy Cinema">
    <meta name="robots" content="index, follow">
    <!--script(src='//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=237651163112377&version=v2.0')-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;amp;subset=vietnamese" rel="stylesheet">
    <!-- STYLES WEBSITE-->
    <link rel="stylesheet" href="../RapChieuPhim/website/css/animate.min.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/bootstrap.min.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/datepicker.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/flexslider.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/font-awesome.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/ie.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/jquery.bxslider.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/jquery.fancybox.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/normalize.min.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/screen.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/main.css?version=20201127001">
    <!-- STYLES WEBSITE END-->
    <script type="text/javascript">
        window.ENV = 'production';
        try {
            window.firebaseConfig = JSON.parse('{&quot;apiKey&quot;:&quot;AIzaSyB2JGN_huou7vLlrT10iojfan44-rZq0RY&quot;,&quot;authDomain&quot;:&quot;galaxy-cinema-9bf64.firebaseapp.com&quot;,&quot;databaseURL&quot;:&quot;https://galaxy-cinema-9bf64.firebaseio.com&quot;,&quot;projectId&quot;:&quot;galaxy-cinema-9bf64&quot;,&quot;storageBucket&quot;:&quot;galaxy-cinema-9bf64.appspot.com&quot;,&quot;messagingSenderId&quot;:&quot;694105011677&quot;,&quot;appId&quot;:&quot;1:694105011677:web:8412dc47db8edffec77234&quot;,&quot;measurementId&quot;:&quot;G-38CEXZ2PDR&quot;}'.replace(/&quot;/g, '"'))
        } catch (e) { }
    </script>
    <script type="text/javascript">
        window.ENV = 'production';
    </script>
    <script type="text/javascript">
        window.clientid = "3da4eba4-94dd-4e74-bc25-38e89a01fe07";
        window.grpcUrl = "https://www.galaxycine.vn:8080";
        window.grpApiKey = "8f8ba0aa-7f69-41d7-8007-95ef585502c9";
        window.recaptchaSiteKey = "6Ld2Bt0kAAAAABi6bNd-EmcSXY72C2nevGupxqRE";
    </script>
    <script src="../RapChieuPhim/js-app/grpc.js"></script>
    <!-- SCRIPTS WEBSITE-->
    <script src="../RapChieuPhim/js/angular.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-message-format.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-file-upload.min.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-translate.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-spinner.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-sanitize.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-cookies.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-md5.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/moment.min.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/qrcode.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/ui-bootstrap-tpls.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/custom-copy.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/underscore.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/bootstrap.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/async.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/bootstrap-datepicker.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/gmaps.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.bcSwipe.min.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.bxslider.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.fancybox.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.mobile.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.rwdImageMaps.min.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.twbsPagination.min.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/platform.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/swipe-slide.min.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/ua-parser.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/app.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/service/ApiService.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/service/GTMService.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/service/UtitService.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/autoFolded.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/buttonApply.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/buyTicket.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/captcha.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/chooseConcession.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/chooseConcessionMobile.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/choosePromotion.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/chooseTicket.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/chooseTicketMobile.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/countDownTime.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/currenty.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/datepicker.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/dialog.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/dropdown.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/formatTime.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/googleMap.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/iconMovieAge.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/loading.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/loginBtn.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/modal.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/newdatepicker.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/qrcode.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/rating.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/scrollFollowContent.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/searchBar.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/seatPlan.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/select.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/stickHeader.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/summaryTicket.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/watchTrailer.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/applyRecruitment.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/bookingDetail.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/bookingPage.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/cinemaTicket.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/confirmConvertVIGPointController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/confirmPassword.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/contentMovie.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/convertVIGPointController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/convertVIGSuccessController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/forgetPass.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/header.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/location.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/login.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/movieDetailShowTime.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/navbar.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/policiesPopup.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/policyController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/post.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/promotion.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/purchaseSubscription.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/quickBuyTicket.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/rating.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/register.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/registerEmail.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/reviewMovie.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/search.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/subscriptionController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/support.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/supportPurchaseSubscription.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/supportPurchaseSubscriptionSuccess.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/userInfo.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/userSubscriptionController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/userTransaction.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/vigAnnouncementPopup.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/vigPointTransactionController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/vigVoucherTransactionController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/main.js?version=20201127001"></script>
    <!-- SCRIPTS WEBSITE END-->
    <!-- Hotjar Tracking Code for https://www.galaxycine.vn/-->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {
                hjid: 2725587,
                hjsv: 6
            };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- End Hotjar Tracking Code-->
    <!-- Google Tag Manager-->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KTL6N2');
    </script>
    <!-- End Google Tag Manager-->
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
        var AppId = "b35bd0e4-1a04-4fb9-8bb9-085c5a7026d3";
        if (AppId) {
            var OneSignal = window.OneSignal || [];
            OneSignal.push(["init", {
                appId: AppId,
                autoRegister: true,
                notifyButton: {
                    enable: false /* Set to false to hide */
                }
            }]);
        }
    </script>
</head>

<body ng-app="appweb">
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KTL6N2" height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>
    <div id="overlay"></div>
    <span us-spinner="" spinner-key="spinner-1" spinner-start-active="false"></span>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=1427253957539434";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    @await Html.PartialAsync("_PartialNavbar")
        <div class="navicon"><a rel="external" href="#" class="nav-toggle"><span></span></a></div>
        <div class="block-wrapper">
            <div class="container">
                <div class="row">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../home/index">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="../home/theloaiphim">Phim</a></li>
                        <li class="breadcrumb-item active">@Model.TenPhim</li>
                    </ol>
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <section class="detail-feature">
                            <article>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-8 col-xs-offset-2 col-md-offset-0">
                                        <div class="detail-feat-img">
                                            <img src="@Url.Content("~/film/images/"+Model.AnhDaiDien)">
                                        </div>
                                    </div>
                                    <div class="details col-md-8 col-sm-8 col-xs-12">
                                        <h2 class="detail-title upper-text">@Model.TenPhim</h2>
                                        <h2 class="detail-title vn upper-text"></h2>
                                        <!--a(href='#')-->
                                        <!--  i.icon-twitter-logo-->
                                        <!--a(href='#')-->
                                        <!--  i.icon-instagram-logo-->
                                        <div class="detail-info">
                                            <div class="detail-info-row">
                                                @if(Model.MaNuoc == "MN01")
                                                {
                                                    <p>Quốc gia: Mỹ</p>
                                                }else if(Model.MaNuoc == "MN02")
                                                {
                                                    <p>Quốc gia: Việt Nam</p>
                                                }else if(Model.MaNuoc == "MN03")
                                                {
                                                    <p>Quốc gia: Hàn Quốc</p>
                                                }else if(Model.MaNuoc == "MN04")
                                                {
                                                    <p>Quốc gia: Trung Quốc</p>
                                                }else if(Model.MaNuoc == "MN05")
                                                {
                                                    <p>Quốc gia: Indonesia</p>
                                                }else if(Model.MaNuoc == "MN06")
                                                {
                                                    <p>Quốc gia: Anh</p>
                                                }else if(Model.MaNuoc == "MN07")
                                                {
                                                    <p>Quốc gia: Đức</p>
                                                }else if(Model.MaNuoc == "MN08")
                                                {
                                                    <p>Quốc gia: Thái Lan</p>
                                                }else if(Model.MaNuoc == "MN09")
                                                {
                                                    <p>Quốc gia: Nhật Bản</p>
                                                }
                                            </div>
                                            <div class="detail-info-row">
                                                @if (Model.MaLp == "LP01")
                                                {
                                                    <p>Thể loại: Kinh dị</p>
                                                }
                                                else if (Model.MaLp == "LP02")
                                                {
                                                    <p>Thể loại: Hành động</p>
                                                }
                                                else if (Model.MaLp == "LP03")
                                                {
                                                    <p>Thể loại: Tình cảm</p>
                                                }
                                                else if (Model.MaLp == "LP04")
                                                {
                                                    <p>Thể loại: Kiếm hiệp</p>
                                                }
                                                else if (Model.MaLp == "LP05")
                                                {
                                                    <p>Thể loại: Khoa học viễn tưởng</p>
                                                }
                                                else if (Model.MaLp == "LP06")
                                                {
                                                    <p>Thể loại: Tài liệu</p>
                                                }
                                                else if (Model.MaLp == "LP07")
                                                {
                                                    <p>Thể loại: Hài hước</p>
                                                }
                                                else if (Model.MaLp == "LP08")
                                                {
                                                    <p>Thể loại: Hoạt hình</p>
                                                }
                                                else if (Model.MaLp == "LP09")
                                                {
                                                    <p>Thể loại: Ma</p>
                                                }
                                            </div>
                                            <div class="detail-info-row">
                                                <label>Nhà sản xuất:&nbsp;</label>
                                                <div class="detail-info-right"><a href="javascript:;">@Model.Nsx</a></div>
                                            </div>
                                            <div class="detail-info-row">
                                                <label>Ngày khởi chiếu:&nbsp</label>
                                                <div class="detail-info-right">@Model.NgayKhoiChieu</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row detail-description">
                                    <div class="col-md-12 col sm-12 col-xs-12">
                                        <div class="content-text">
                                            <section id="info">
                                                <h3>Nội dung phim</h3>
                                                <div class="content-text-actors-info content-text">
                                                    <br>
                                                    <auto-folded folded-height="200">
                                                        <p><span style="font-size:14px;">@Model.NoiDung</span></p>

                                                        <p><span style="font-size:14px;"><a href="https://www.galaxycine.vn/phim-dang-chieu">Phim mới</a><strong> Biệt Đội Rất Ổn </strong>ra mắt tại c&aacute;c <a href="https://www.galaxycine.vn/">rạp chiếu phim</a> từ 31.03.2023.</span></p>
                                                    </auto-folded>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                        <div data-href="https://www.galaxycine.vn/phim/biet-doi-rat-on" data-width="100%" data-numposts="10" class="fb-comments"></div>
                        <section id="relatedpost">
                            <a href="" class="title-block">
                                <h3>Bài viết liên quan</h3>
                            </a>
                            <div class="row related">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <ul class="related-post row-item">
                                        <li><a href="/movie-blog/phim-hay-thang-3-ra-rap-haha">Phim Hay Tháng 03.2023: Tới Rạp &quot;Haha&quot;</a></li>
                                        <li><a href="/movie-blog/phim-hay-thang-022023-cuoc-chien-sieu-anh-hung">Phim Hay Tháng 02/2023: Cuộc Chiến Siêu Anh Hùng</a></li>
                                        <li><a href="/movie-blog/phim-hay-thang-012023-tet-nam-mieu-nhieu-phim-hay">Phim Hay Tháng 01/2023: Tết Năm &quot;Miều&quot;, Nhiều Phim Hay</a></li>
                                        <li><a href="/movie-blog/phim-hay-thang-122022-lanh-cung-sieu-pham">Phim Hay Tháng 12.2022: &quot;Lạnh&quot; Cùng Avatar The Way Of Water</a></li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                        <a href="/binh-luan-phim" class="title-block">
                            <h3>Phim bạn sẽ thích</h3>
                        </a>
                        <div class="row related">
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <!--article.related-item(style='background-image: url(#{item.imagePortrait})')-->
                                <!--  figure-->
                                <!--    figcaption.overlay-->
                                <!--      h2 #{item.name}-->
                                <!--      .group-->
                                <!--        a.btn.secondary-white.related(href='#{getUrlReviewMovieDetail(item.slug)}') #{i18n('chi tiết')}-->
                                <div class="related-wrapper">
                                    <a href="/binh-luan-phim/review-demon-slayer-to-the-swordsmith-village-phim-tri-an-man-nhan">
                                        <img src="https://cdn.galaxycine.vn/media/2023/3/25/demon-slayer-3-1678344772752_1679756448178.jpg"><div class="decription-hover overlay hidden-xs">
                                            <div class="info"><h2>[Review] Demon Slayer To the Swordsmith Village: Phim Tri Ân Mãn Nhãn!</h2></div><div class="group"><a href="/binh-luan-phim/review-demon-slayer-to-the-swordsmith-village-phim-tri-an-man-nhan" class="btn secondary-white related">chi tiết</a></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <!--article.related-item(style='background-image: url(#{item.imagePortrait})')-->
                                <!--  figure-->
                                <!--    figcaption.overlay-->
                                <!--      h2 #{item.name}-->
                                <!--      .group-->
                                <!--        a.btn.secondary-white.related(href='#{getUrlReviewMovieDetail(item.slug)}') #{i18n('chi tiết')}-->
                                <div class="related-wrapper">
                                    <a href="/binh-luan-phim/review-shazam-fury-of-the-gods-lon-xon-nhung-rat-nhon">
                                        <img src="https://cdn.galaxycine.vn/media/2023/3/21/shazam-fury-of-the-gods-lon-xon-nhung-rat-nhon-1_1679369038147.jpg"><div class="decription-hover overlay hidden-xs">
                                            <div class="info"><h2>[Review] Shazam! Fury Of The Gods: Lộn Xộn Nhưng Rất “Nhộn”!</h2></div><div class="group"><a href="/binh-luan-phim/review-shazam-fury-of-the-gods-lon-xon-nhung-rat-nhon" class="btn secondary-white related">chi tiết</a></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <!--article.related-item(style='background-image: url(#{item.imagePortrait})')-->
                                <!--  figure-->
                                <!--    figcaption.overlay-->
                                <!--      h2 #{item.name}-->
                                <!--      .group-->
                                <!--        a.btn.secondary-white.related(href='#{getUrlReviewMovieDetail(item.slug)}') #{i18n('chi tiết')}-->
                                <div class="related-wrapper">
                                    <a href="/binh-luan-phim/review-everything-everywhere-all-at-once-phim-oscar-khong-he-kho-hieu">
                                        <img src="https://cdn.galaxycine.vn/media/2023/3/21/everything-everywhere-all-at-once-phim-oscar-khong-he-kho-hieu-1_1679368302183.jpeg"><div class="decription-hover overlay hidden-xs">
                                            <div class="info"><h2>[Review] Everything Everywhere All At Once: Phim Oscar Không Hề Khó Hiểu!</h2></div><div class="group"><a href="/binh-luan-phim/review-everything-everywhere-all-at-once-phim-oscar-khong-he-kho-hieu" class="btn secondary-white related">chi tiết</a></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <!--article.related-item(style='background-image: url(#{item.imagePortrait})')-->
                                <!--  figure-->
                                <!--    figcaption.overlay-->
                                <!--      h2 #{item.name}-->
                                <!--      .group-->
                                <!--        a.btn.secondary-white.related(href='#{getUrlReviewMovieDetail(item.slug)}') #{i18n('chi tiết')}-->
                                <div class="related-wrapper">
                                    <a href="/binh-luan-phim/review-sieu-lua-gap-sieu-lay-phi-vu-hoan-hao-cua-dien-anh-viet">
                                        <img src="https://cdn.galaxycine.vn/media/2023/3/5/300_1677988265856.jpg"><div class="decription-hover overlay hidden-xs">
                                            <div class="info"><h2>[Review] Siêu Lừa Gặp Siêu Lầy: Phi Vụ Hoàn Hảo Của Điện Ảnh Việt</h2></div><div class="group"><a href="/binh-luan-phim/review-sieu-lua-gap-sieu-lay-phi-vu-hoan-hao-cua-dien-anh-viet" class="btn secondary-white related">chi tiết</a></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <!--//popup-->
                        <!--.modal#popup-promotion(tabindex='-1', role='dialog')-->
                        <!--  .modal-dialog(role='document')-->
                        <!--    .modal-content-->
                        <!--      .modal-header-->
                        <!--        h5.modal-title Modal title-->
                        <!--        button.close(type='button', data-dismiss='modal', aria-label='Close')-->
                        <!--          span(aria-hidden='true') ×-->
                        <!--      .modal-body-->
                        <!--        p Modal body text goes here.-->
                        <!--      .modal-footer-->
                        <!--        button.btn.btn-primary(type='button') Save changes-->
                        <!--        button.btn.btn-secondary(type='button', data-dismiss='modal') Close-->
                        <section id="getPromotion" ng-controller="registerEmailController" class="hidden-xs">
                            <h3>Nhận khuyến mãi</h3>
                            <div class="box-promotion">
                                <form ng-submit="submit()"><input placeholder="Email" type="email" ng-model="email" required class="login"><button class="btn primary input">đăng ký</button></form>
                            </div>
                        </section>
                        <section id="movieSidebar" class="hidden-xs">
                            <h3>Phim đang chiếu</h3>
                            <div class="row movies-group">
                                <div class="col-md-13 col-sm-12 col-xs-12 movie-item">
                                    <div class="article-movie-home">
                                        <img src="https://cdn.galaxycine.vn/media/2023/3/9/demon-slayer-4_1678344779186.jpg">
                                        <a href="../RapChieuPhim/dat-ve/demon-slayer-to-the-swordsmith-village">
                                            <div class="decription-hover overlay">
                                                <div class="movies-content">
                                                    <i class="icon-c13"></i>
                                                    <div class="group">
                                                        <div class="btn secondary-white">mua vé</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!--article.article-movie(style='background-image: url(#{item.imageLandscape})')-->
                                    <!--  figure-->
                                    <!--    figcaption.overlay-->
                                    <!--      .movies-content-->
                                    <!--        i(class='#{getIcon(item.age)}')-->
                                    <!--        .group-->
                                    <!--          a.btn.secondary-white(href='#{getUrlMovieDetail(item.slug)}') #{i18n('mua vé')}-->
                                    <div class="title-movie">
                                        <h4 class="upper-text">Demon Slayer: To The Swordsmith Village</h4>
                                        <h4 class="vn upper-text">Thanh Gươm Diệt Quỷ: Đường Đến Làng Rèn Gươm</h4>
                                    </div>
                                </div>
                                <div class="col-md-13 col-sm-12 col-xs-12 movie-item">
                                    <div class="article-movie-home">
                                        <img src="https://cdn.galaxycine.vn/media/2023/2/10/shazam-2_1675998615953.jpg">
                                        <a href="../RapChieuPhim/dat-ve/shazam-fury-of-the-gods">
                                            <div class="decription-hover overlay">
                                                <div class="movies-content">
                                                    <i class="icon-c13"></i>
                                                    <div class="group">
                                                        <div class="btn secondary-white">mua vé</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!--article.article-movie(style='background-image: url(#{item.imageLandscape})')-->
                                    <!--  figure-->
                                    <!--    figcaption.overlay-->
                                    <!--      .movies-content-->
                                    <!--        i(class='#{getIcon(item.age)}')-->
                                    <!--        .group-->
                                    <!--          a.btn.secondary-white(href='#{getUrlMovieDetail(item.slug)}') #{i18n('mua vé')}-->
                                    <div class="title-movie">
                                        <h4 class="upper-text">Shazam! Fury Of The Gods</h4>
                                        <h4 class="vn upper-text">Shazam! Cơn Thịnh Nộ Của Các Vị Thần</h4>
                                    </div>
                                </div>
                                <div class="col-md-13 col-sm-12 col-xs-12 movie-item">
                                    <div class="article-movie-home">
                                        <img src="https://cdn.galaxycine.vn/media/2023/3/3/450x300_1677813532298.jpg">
                                        <a href="../RapChieuPhim/dat-ve/sieu-lua-gap-sieu-lay">
                                            <div class="decription-hover overlay">
                                                <div class="movies-content">
                                                    <i class="icon-c16"></i>
                                                    <div class="group">
                                                        <div class="btn secondary-white">mua vé</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!--article.article-movie(style='background-image: url(#{item.imageLandscape})')-->
                                    <!--  figure-->
                                    <!--    figcaption.overlay-->
                                    <!--      .movies-content-->
                                    <!--        i(class='#{getIcon(item.age)}')-->
                                    <!--        .group-->
                                    <!--          a.btn.secondary-white(href='#{getUrlMovieDetail(item.slug)}') #{i18n('mua vé')}-->
                                    <div class="title-movie">
                                        <h4 class="upper-text">Siêu Lừa Gặp Siêu Lầy</h4>
                                        <h4 class="vn upper-text"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 pull-right"><a href="/phim-dang-chieu" class="btn secondary fl-right">Xem thêm</a></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--include home/home.jade-->
    <div class="footer-content">
        <footer class="footer-bg">
            <div class="container">
                <div class="row">
                    <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_nav_menu">
                                <h1 class="title-widget">Giới thiệu</h1>
                                <ul>
                                    <li><a href="/ve-chung-toi"><i class="fa fa-angle-double-right"></i> Về chúng tôi</a></li>
                                    <li><a href="/thoa-thuan-su-dung"><i class="fa fa-angle-double-right"></i> Thoả thuận sử dụng</a></li>
                                    <li><a href="/quy-che-hoat-dong"><i class="fa fa-angle-double-right"></i> Quy chế hoạt động</a></li>
                                    <li><a href="/chinh-sach-bao-mat"><i class="fa fa-angle-double-right"></i> Chính sách bảo mật</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_nav_menu">
                                <h1 class="title-widget">Góc điện ảnh</h1>
                                <ul>
                                    <li><a href="/dien-anh"><i class="fa fa-angle-double-right"></i> Thể loại phim</a></li>
                                    <li><a href="/binh-luan-phim"><i class="fa fa-angle-double-right"></i> Bình luận phim</a></li>
                                    <li><a href="/movie-blog"><i class="fa fa-angle-double-right"></i> Blog điện ảnh</a></li>
                                    <li><a href="/phim-hay"><i class="fa fa-angle-double-right"></i> Phim hay tháng</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_nav_menu">
                                <h1 class="title-widget">Hỗ trợ</h1>
                                <ul>
                                    <li><a href="/gop-y"><i class="fa fa-angle-double-right"></i> Góp ý</a></li>
                                    <li><a href="/sale-and-service"><i class="fa fa-angle-double-right"></i> Sale &amp; Services</a></li>
                                    <li><a href="/rap-gia-ve"><i class="fa fa-angle-double-right"></i> Rạp / giá vé</a></li>
                                    <li><a href="/tuyen-dung"><i class="fa fa-angle-double-right"></i> Tuyển dụng</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_recent_news">
                                <h1 class="title-widget">Kết nối Galaxy cinema</h1>
                                <div class="social-icons">
                                    <ul class="nomargin">
                                        <a href="https://facebook.com/galaxycine.vn" target="_blank"><i id="social" class="icon-facebook-app-logo social-fb"></i></a>
                                        <a href="https://www.youtube.com/user/galaxymovies" target="_blank"><i id="social" class="icon-youtube-logo social-youtube"></i></a>
                                        <!--a(href='#{config.instagramUrl}' target="_blank")-->
                                        <!--  i#social.icon-instagram-logo.social-inst-->
                                        <a href="https://www.instagram.com/galaxycinema/" target="_blank"><i id="social" class="icon-instagram-logo social-inst"></i></a>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="store">
                            <ul class="list-unstyled clear-margins">
                                <li class="widget-container widget_recent_news">
                                    <h1 class="title-widget">Download app</h1>
                                    <div class="social-icons">
                                        <ul class="nomargin">
                                            <!--a(href='#{config.iosAppUrl}' target="_blank")-->
                                            <a href="https://itunes.apple.com/vn/app/galaxy-cinema/id593312549?l=vi&amp;mt=8" target="_blank"><i id="social" class="icon-apple-store social-store"></i></a>
                                            <!--a(href='#{config.androidAppUrl}' target="_blank")-->
                                            <a href="https://play.google.com/store/apps/details?id=com.galaxy.cinema&amp;hl=vi" target="_blank"><i id="social" class="icon-google-play social-store"></i></a>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="z-index:1" class="container ano-trade">
                <div class="wrap-icon"><a href="http://online.gov.vn/Home/WebDetails/5005"><img alt="" title="" src="../RapChieuPhim/website/images/glx_trade.png" width="150px" height="100%"></a></div>
            </div>
        </footer>
        <div class="footer-bottom footer-line">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="/"><img src="website/images/galaxy-logo-footer.png" alt="Galaxy Cinema"></a>
                        <div class="copyright">
                            <p>Công Ty Cổ Phần Phim Thiên Ngân, Tầng 3, Toà Nhà Bitexco Nam Long, 63A Võ Văn Tần, P. Võ Thị Sáu, Quận 3, Tp. Hồ Chí Minh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="loginController">
        <div id="login-modal" class="modal fade">
            <div ng-if="openLogin" class="modal-dialog">
                <div class="modal-outer-container">
                    <div class="modal-middle-container">
                        <div class="login-wrapper animated slideInDown">
                            <div class="login-container">
                                <span ng-click="closeModel()" class="close"><i class="icon-cancel"></i></span>
                                <div class="tab-login-line">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a id="a_tab_login_1" href="#tab_login_1" data-toggle="tab">Đăng nhập</a></li>
                                        <li><a class="line">/</a></li>
                                        <li><a id="a_tab_login_2" href="#tab_login_2" data-toggle="tab">Đăng ký</a></li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="tab-content">
                                                <div id="tab_login_1" class="tab-pane active">
                                                    <div class="login-tab-wrapper">
                                                        <div class="login-heading">
                                                            <div class="text-heading">
                                                                <span ng-if="!enableSkip" class="sub-text">Vui lòng đăng nhập trước khi mua vé để tích luỹ điểm, cơ hội nhận thêm nhiều ưu đãi từ chương trình thành viên Galaxy Cinema.</span><span ng-if="enableSkip"
                                                                                                                                                                                                                                                     class="sub-text">Bạn có thể mua vé mà không cần đăng nhập. Tuy nhiên, bạn sẽ không được tích luỹ điểm thành viên.</span>
                                                            </div>
                                                            <p ng-if="message" class="message">{{message}}</p>
                                                        </div>
                                                        <form ng-submit="submit()" class="login-form">
                                                            <input placeholder="Email" type="email" ng-model="userInfo.email" required class="login"><input placeholder="Mật khẩu" type="password" ng-model="userInfo.password" required class="login">
                                                            <div class="login-remember">
                                                                <!--.remember-->
                                                                <!--  .toggle-button.toggle-button-login-->
                                                                <!--    input#toggleRemember(type='checkbox' ng-model='userInfo.remember')-->
                                                                <!--    label(for='toggleRemember') Ghi nhớ-->
                                                                <!--    .toggle-button-icon-->
                                                                <div class="forget-pass"><a id="forgetPass" href="" ng-click="openForgetPass()">Quên mật khẩu?</a></div>
                                                                <div style="float: right" ng-if="userNotActive == true" class="forget-pass"><a href="" ng-click="reSendActiveCode()">Gửi lại link kích hoạt</a></div>
                                                            </div><button class="btn primary input"><i ng-show="isSubmit" class="fa fa-pulse fa-spinner"></i>Đăng nhập</button>
                                                            <div ng-if="enableSkip" class="divider-line"></div><a href="javascript:;" ng-if="enableSkip" ng-click="closeModel()" class="btn primary input">Mua vé không đăng nhập</a>
                                                            <!--.social-login-->
                                                            <!--  span Hoặc đăng nhập bằng-->
                                                            <!--  a(href='')-->
                                                            <!--    i.icon-facebook-->
                                                            <!--  a(href='')-->
                                                            <!--    i.icon-google-plus-->
                                                        </form>
                                                    </div>
                                                </div>
                                                <div id="tab_login_2" ng-controller="registerController" class="tab-pane">
                                                    <div class="login-tab-wrapper">
                                                        <div ng-if="message" class="login-heading">
                                                            <div class="text-heading">
                                                                <!--span.sub-text.error {{message}}-->
                                                                <p class="message">{{message}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="login-form">
                                                            <form ng-if="registerStep == &quot;register&quot;" ng-submit="submitOTP()">
                                                                <input placeholder="Họ tên" type="text" ng-model="user.fullName" required class="login first">
                                                                <div class="row city">
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 first-col"><input type="text" placeholder="Số điện thoại" maxlength="14" ng-model="user.mobilePhone" required class="login register-input"></div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 second-col mt-14">
                                                                        <galaxy-select ng-model="genderSelect"></galaxy-select>
                                                                    </div>
                                                                </div><input type="email" placeholder="Email" ng-model="user.email" required class="login register-input remove-mb">
                                                                <div class="row city">
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 first-col"><input type="password" placeholder="Mật khẩu" ng-model="user.password" required class="login"></div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 second-col"><input type="password" placeholder="Xác nhận mật khẩu" ng-model="user.confirmPassword" required class="login"></div>
                                                                </div>
                                                                <div class="row birthday-signup">
                                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                                        <galaxy-datepicker ng-model="user.dateOfBirth"></galaxy-datepicker>
                                                                    </div>
                                                                </div>
                                                                <p class="text-confirm-signup">Tôi đã đọc và đồng ý với&nbsp<a ng-click="openPolicy()" data-toggle="modal" data-target="#popupPolicies"><b>CHÍNH SÁCH&nbsp</b></a>của chương trình.&nbsp</p><br><button class="btn primary input">Đăng ký</button>
                                                            </form>
                                                            <div ng-if="registerStep == 'otp'" class="login-container">
                                                                <div class="tab-login-line">
                                                                    <div class="tab-login-title">Vui lòng nhập OTP</div>
                                                                    <div class="login-tab-wrapper">
                                                                        <div class="login-heading success">
                                                                            <div class="login-form">
                                                                                <form ng-submit="submit()">
                                                                                    <input placeholder="Nhập OTP" type="text" ng-model="user.code" class="login first"><button class="btn primary input">Kiểm tra</button>
                                                                                    <div class="text-heading">
                                                                                        <p ng-if="otpCountDown &gt; 0"><span id="count-down-otp-register" class="sub-text"></span>Gửi lại OTP sau: {{ otpCountDown }}</p>
                                                                                    </div>
                                                                                    <div class="text-heading"><span class="sub-text">Bạn vui lòng truy cập tin nhắn để nhận OTP</span></div>
                                                                                </form>
                                                                            </div><button ng-if="otpCountDown == 0" ng-click="recallOTP()" class="btn secondary input"><span id="count-down-otp-aa" class="sub-text"></span>Gửi lại OTP</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="forgetPassController">
            <div id="forgetpass-modal" style="z-index:1111;" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-outer-container">
                        <div class="modal-middle-container">
                            <div class="login-wrapper animated slideInDown">
                                <div class="login-container">
                                    <span ng-click="closeModelForget()" class="close"><i class="icon-cancel"></i></span>
                                    <div class="tab-login-line">
                                        <div class="tab-login-title">Quên mật khẩu</div>
                                        <div class="login-tab-wrapper">
                                            <div class="login-heading">
                                                <div class="text-heading"><span class="sub-text">Vui lòng cung cấp email đăng nhập, chúng tôi sẽ gửi link kích hoạt cho bạn.</span></div>
                                            </div>
                                            <p ng-if="message" class="message">{{message}}</p>
                                            <form ng-submit="submit()" class="login-form">
                                                <input placeholder="Email" type="email" ng-model="item.email" required class="login">
                                                <div class="row captcha">
                                                    <div class="col-md-6 col-sm-6 col-xs-8 first-col">
                                                        <galaxy-captcha data-config="captchaConfig"></galaxy-captcha>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-4 second-col"><input placeholder="Nhập mã captcha" type="text" ng-model="item.captcha" required class="login"></div>
                                                </div><button class="btn primary input"><i ng-show="isSubmit" class="fa fa-pulse fa-spinner"></i>Cấp lại mật khẩu</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--#success-modal(style='display: none;')-->
        <div ng-controller="registerController">
            <div id="success-modal" style="z-index:1111;" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-outer-container">
                        <div class="modal-middle-container">
                            <div class="login-wrapper animated slideInDown">
                                <div class="login-container">
                                    <span ng-click="closeModelSuccess()" class="close"><i class="icon-cancel"></i></span>
                                    <div class="tab-login-line">
                                        <div class="tab-login-title">Đăng ký thành công</div>
                                        <div class="login-tab-wrapper">
                                            <div class="login-heading success">
                                                <i class="icon-success"></i>
                                                <div class="text-heading"><span class="sub-text">Chào mừng đến G-Star Club!</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--include active-->
    </div>
    <div id="trailerModal" class="modal fade modal-trailer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <h4 class="modal-title">Galaxy Cinema</h4>
                </div>
                <div id="galaxyVideo" class="modal-body"></div>
            </div>
        </div>
    </div>
    <div ng-controller="locationController">
        <div id="location-modal" style="display: none;" class="login-overlay">
            <div class="modal-outer-container">
                <div class="modal-middle-container">
                    <div class="login-wrapper animated slideInDown location">
                        <div class="login-container">
                            <span class="close"><i class="icon-cancel"></i></span>
                            <h2>Chọn thành phố</h2>
                            <div class="tab-login-line">
                                <div class="login-tab-wrapper">
                                    <div class="login-heading">
                                        <div class="text-heading"><span class="sub-text">Vui lòng chọn thành phố hiện tại của bạn để xem lịch chiếu chính xác nhất.</span></div>
                                    </div>
                                    <form ng-submit="submit()" class="login-form">
                                        <div class="row city">
                                            <div class="col-md-7 col-sm-7 col-xs-12 first-col">
                                                <galaxy-select ng-model="citySelect"></galaxy-select>
                                            </div>
                                            <div class="col-md-5 col-sm-5 col-xs-12 second-col"><button class="btn primary input location">Tiếp tục</button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addcv-modal" ng-controller="applyRecruitmentController" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-outer-container">
                <div class="modal-middle-container">
                    <div class="login-wrapper location">
                        <div class="login-container">
                            <span ng-click="closeModel()" class="close"><i class="icon-cancel"></i></span>
                            <h2 class="recruitment">Nộp hồ sơ tuyển dụng</h2>
                            <div class="tab-login-line">
                                <div class="login-tab-wrapper">
                                    <div ng-if="message" class="login-heading">
                                        <div class="text-heading">
                                            <p class="message">{{message | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="recruitment-form">
                                        <form ng-submit="submit()">
                                            <input id="name" placeholder="Họ và tên" type="text" ng-model="cvinfo.name" required class="login"><input id="email" type="email" placeholder="Email" required ng-model="cvinfo.email" class="login"><input id="title"
                                                                                                                                                                                                                                                        type="text" placeholder="Tiêu đề" required ng-model="cvinfo.subject" class="login"><textarea rows="10" placeholder="Nội dung" ng-model="cvinfo.message" required class="support-form"></textarea><input id="attachfile"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                type="file" nv-file-select uploader="uploader" class="login">
                                            <div class="row captcha">
                                                <div class="col-md-6 col-sm-6 col-xs-6 first-col">
                                                    <galaxy-captcha data-config="captchaConfig"></galaxy-captcha>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 second-col"><input id="capcha" placeholder="Nhập mã captcha" name="captcha" type="text" ng-model="cvinfo.captcha" required class="login"></div>
                                            </div><button class="btn primary input"><i ng-show="isSubmit" class="fa fa-pulse fa-spinner"></i>Nộp hồ sơ</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popupPolicies" ng-controller="policiesPopupController" style="z-index: 1100" class="dialog modal fade">
        <div class="modal-dialog">
            <div class="modal-outer-container">
                <div class="modal-middle-container">
                    <div class="login-wrapper animated bounceIn location">
                        <div class="login-container dialog">
                            <span ng-click="closeModel()" class="close"><i class="icon-cancel"></i></span>
                            <h2>Chính sách</h2>
                            <div id="policiesTab">
                                <div ng-controller="policyController" class="tab-movies-line">
                                    <ul class="nav nav-tabs">
                                        <li ng-repeat="(key, item) in info" class="{{key == 0 ? 'active' : ''}}"><a href="#tab_{{item.id}}_popup" data-toggle="tab">{{item.name}}</a></li>
                                    </ul>
                                    <div class="tab-content content-text">
                                        <div ng-repeat="(key, item) in info" id="tab_{{item.id}}_popup" class="{{key == 0 ? 'active' : '' + item.slug == 'huong-dan' ? 'scroll-content' : ''}} tab-pane">
                                            <div ng-bind-html="item.description" class="policy-content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <galaxy-dialog></galaxy-dialog>
    <script src="../RapChieuPhim/customjs-min/lazyload.js" async></script>
    <script>
        window.lazyLoadOptions = {
            img: ".lazy"
        };
    </script>
    <!--include ../popup/dialog-->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app-check.js"></script>
    <script src="../RapChieuPhim/js/axios.min.js"></script>
    <script src="../RapChieuPhim/js/lodash-merge.js"></script>
    <script src="../RapChieuPhim/customjs-min/firebase-setup.js"></script>
</body>

</html>
