@model QLRapChieuPhim.Models.LienKetModels.PhimVaGioChieuModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="vi" class="csstransforms3d">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Đặt Vé Phim The One (2023) | Galaxy Cinema</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta property="fb:admins" content="1692090397">
    <meta property="fb:admins" content="100001920439162">
    <meta property="fb:app_id" content="1427253957539434">
    <meta property="og:url" content="https://www.galaxycine.vn/book-ticket/the-one?cinemaId=1003&amp;sessionId=335793">
    <meta property="og:type" content="article">
    <meta property="og:title" content="The One: Sống Sót">
    <meta property="og:image"
          content="https://www.galaxycine.vn/media/2023/3/23/theone-officialtrailer-16x9-frame3103---frame-at-0m56s_1679560147349.jpg">
    <meta property="og:description" content="Dựa trên thảm họa rơi máy bay có thật năm 1981.">
    <link rel="canonical" href="https://www.galaxycine.vn/book-ticket/the-one?cinemaId=1003&amp;sessionId=335793">
    <link rel="shortcut icon" href="/favicon.ico?version=20201127001" type="image/x-icon">
    <meta name="description" content="Xem thông tin lịch chiếu, giá vé, rạp đang chiếu phim The One tại đây.">
    <meta name="robots" content="index, follow">
    <!--script(src='//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=237651163112377&version=v2.0')-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;amp;subset=vietnamese"
          rel="stylesheet">
    <!-- STYLES WEBSITE-->
    <link rel="stylesheet" href="../RapChieuPhim/website/css/animate.min.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/bootstrap.min.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/datepicker.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/flexslider.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/font-awesome.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/ie.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/jquery.bxslider.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/jquery.fancybox.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/normalize.min.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/css/screen.css?version=20201127001">
    <link rel="stylesheet" href="../RapChieuPhim/website/main.css?version=20201127001">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <!-- STYLES WEBSITE END-->
    <script type="text/javascript">
        window.ENV = 'production';
        try {
            window.firebaseConfig = JSON.parse('{&quot;apiKey&quot;:&quot;AIzaSyB2JGN_huou7vLlrT10iojfan44-rZq0RY&quot;,&quot;authDomain&quot;:&quot;galaxy-cinema-9bf64.firebaseapp.com&quot;,&quot;databaseURL&quot;:&quot;https://galaxy-cinema-9bf64.firebaseio.com&quot;,&quot;projectId&quot;:&quot;galaxy-cinema-9bf64&quot;,&quot;storageBucket&quot;:&quot;galaxy-cinema-9bf64.appspot.com&quot;,&quot;messagingSenderId&quot;:&quot;694105011677&quot;,&quot;appId&quot;:&quot;1:694105011677:web:8412dc47db8edffec77234&quot;,&quot;measurementId&quot;:&quot;G-38CEXZ2PDR&quot;}'.replace(/&quot;/g, '"'))
        } catch (e) { }
    </script>
    <script type="text/javascript">
        window.ENV = 'production';
    </script>
    <script type="text/javascript">
        window.clientid = "3da4eba4-94dd-4e74-bc25-38e89a01fe07";
        window.grpcUrl = "https://www.galaxycine.vn:8080";
        window.grpApiKey = "8f8ba0aa-7f69-41d7-8007-95ef585502c9";
        window.recaptchaSiteKey = "6Ld2Bt0kAAAAABi6bNd-EmcSXY72C2nevGupxqRE";
    </script>
    <script src="../RapChieuPhim/js-app/grpc.js"></script>
    <!-- SCRIPTS WEBSITE-->
    <script src="../RapChieuPhim/js/angular.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-message-format.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-file-upload.min.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-translate.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-spinner.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-sanitize.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-cookies.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/angular-md5.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/moment.min.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/qrcode.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/ui-bootstrap-tpls.js?version=20201127001"></script>
    <script src="../RapChieuPhim/js/custom-copy.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/underscore.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/bootstrap.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/async.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/bootstrap-datepicker.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/gmaps.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.bcSwipe.min.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.bxslider.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.fancybox.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.mobile.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.rwdImageMaps.min.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/jquery.twbsPagination.min.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/platform.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/swipe-slide.min.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/dependencies/ua-parser.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/app.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/service/ApiService.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/service/GTMService.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/service/UtitService.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/autoFolded.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/buttonApply.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/buyTicket.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/captcha.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/chooseConcession.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/chooseConcessionMobile.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/choosePromotion.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/chooseTicket.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/chooseTicketMobile.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/countDownTime.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/currenty.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/datepicker.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/dialog.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/dropdown.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/formatTime.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/googleMap.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/iconMovieAge.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/loading.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/loginBtn.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/modal.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/newdatepicker.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/qrcode.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/rating.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/scrollFollowContent.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/searchBar.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/seatPlan.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/select.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/stickHeader.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/summaryTicket.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/directive/watchTrailer.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/applyRecruitment.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/bookingDetail.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/bookingPage.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/cinemaTicket.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/confirmConvertVIGPointController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/confirmPassword.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/contentMovie.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/convertVIGPointController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/convertVIGSuccessController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/forgetPass.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/header.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/location.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/login.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/movieDetailShowTime.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/navbar.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/policiesPopup.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/policyController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/post.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/promotion.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/purchaseSubscription.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/quickBuyTicket.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/rating.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/register.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/registerEmail.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/reviewMovie.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/search.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/subscriptionController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/support.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/supportPurchaseSubscription.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/supportPurchaseSubscriptionSuccess.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/userInfo.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/userSubscriptionController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/userTransaction.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/vigAnnouncementPopup.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/vigPointTransactionController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/controller/vigVoucherTransactionController.js?version=20201127001"></script>
    <script src="../RapChieuPhim/website/js/main.js?version=20201127001"></script>
    <!-- SCRIPTS WEBSITE END-->
    <!-- Hotjar Tracking Code for https://www.galaxycine.vn/-->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () {
                (h.hj.q = h.hj.q || []).push(arguments)
            };
            h._hjSettings = {
                hjid: 2725587,
                hjsv: 6
            };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script');
            r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- End Hotjar Tracking Code-->
    <!-- Google Tag Manager-->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KTL6N2');
    </script>
    <!-- End Google Tag Manager-->
    <link rel="manifest" href="/manifest.json">
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
        var AppId = "b35bd0e4-1a04-4fb9-8bb9-085c5a7026d3";
        if (AppId) {
            var OneSignal = window.OneSignal || [];
            OneSignal.push(["init", {
                appId: AppId,
                autoRegister: true,
                notifyButton: {
                    enable: false /* Set to false to hide */
                }
            }]);
        }
    </script>
</head>

<body ng-app="appweb">
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KTL6N2" height="0" width="0"
                style="display: none; visibility: hidden;"></iframe>
    </noscript>
    <div id="overlay"></div>
    <span us-spinner="" spinner-key="spinner-1" spinner-start-active="false"></span>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.9&appId=1427253957539434";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    @await Html.PartialAsync("_PartialNavbar")
        <div class="navicon"><a rel="external" href="#" class="nav-toggle"><span></span></a></div><br>
        <div ng-controller="bookingDetailController" ng-if="isMobile == false" class="container">
            <div ng-show="logged" class="row">
                <div class="col-md-9">
                    <div class="ticket-wrapper">
                        <div class="booking-bg">
                            <div class="row">
                                <div class="col-md-12">
                                    <section ng-show="step==&quot;select-ticket&quot;" class="booking-ticket">
                                        <h2 id="choose-ticket-food" class="booking-title">Chọn vé/thức ăn</h2>
                                        <galaxy-loading ng-show="tickets.length == 0"></galaxy-loading>
                                        <div ng-show="tickets.length >  0" class="table-responsive">
                                            <table class="table table-striped booking-ticket-table">
                                                <colgroup>
                                                    <col width="45%">
                                                    <col width="25%">
                                                    <col width="15%">
                                                    <col width="15%">
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th>Loại vé</th>
                                                        <th>Số lượng</th>
                                                        <th>Giá (VNĐ)</th>
                                                        <th>Tổng (VNĐ)</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="my-table" galaxy-choose-ticket="" ng-model="tickets"
                                                       class="ng-pristine ng-untouched ng-valid ng-isolate-scope ng-not-empty">
                                                    <!-- ngRepeat: item in items -->
                                                    <!-- Lưu ý rằng việc thêm đoạn mã @($"...") là để chuyển các biến sang dạng string. -->
                                                @for (int i = 0; i < Model.lv.Count(); i++)
                                                {
                                                    <tr ng-repeat-start="item in items" class="ng-scope">
                                                        <td>
                                                            <p><b class="ng-binding">@Model.lv[i].TenLv</b></p>
                                                        </td>
                                                        <td>
                                                            <div class="input-group input-booking">
                                                                <button type="button" id=@($"dec-{i}") onclick=@($"Giam({i})")>
                                                                    <i class="fa-solid fa-circle-minus"></i>
                                                                </button>
                                                                <input type="number" name="quantity" id=@($"quantity-{i}") value="0" onchange=@($"TinhTongTien({i})")>
                                                                <button type="button" onclick=@($"Tang({i})") id=@($"increase-btn-{i}")>
                                                                    <i class="fa-solid fa-circle-plus"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                        <td id=@($"dongia-{i}") class="ng-binding">@Model.lv[i].DonGia</td>
                                                        <td id=@($"tongtien-{i}") class="ng-binding">0</td>
                                                    </tr>
                                                }
                                                    <!-- ngRepeat: bar in getBarcode(items[$index]) --><!-- end ngRepeat: item in items -->
                                                    <tr class="total">
                                                        <td colspan="3" class="ng-binding">Tổng</td>
                                                        <td id="tongtienfull" class="ng-binding">0</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="total-mobile hidden-lg">
                                            <div class="ticket-price-total">
                                                <p>
                                                    Tổng: &nbsp
                                                    <galaxy-summary-ticket ng-model="tickets"
                                                                           ng-concession="concessions" ng-booking-tickets="bookingTickets"
                                                                           ng-discount="discountAmount"
                                                                           ng-loyayty-discount="loyaltyDiscount"></galaxy-summary-ticket>
                                                </p>
                                            </div><a href="javascript:;" ng-click="submitTicket()"
                                                     class="btn primary-arrow primary-arrow-right right">
                                                <i ng-show="isSubmit" class="fa fa-pulse fa-spinner"></i>Tiếp tục
                                            </a>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div galaxy-scroll-follow-content class="ticket-header">
                        <section class="ticket-feature">
                            <article ng-init="movieId=&quot;406eaf0d-37ef-4b51-8dd1-3fdc1adb5dd9&quot;;cinemaId=&quot;1003&quot;;sessionId=&quot;335793&quot;"
                                     class="row">
                                <div style="text-align: center;" class="col-md-12">
                                    <img src="@Url.Content("../film/images/"+Model.AnhDaiDien)">
                                </div>
                                <div class="col-md-12">
                                    <div class="ticket-detail">
                                        <h2 class="ticket-title upper-text">@Model.TenPhim</h2>
                                        <div class="ticket-icon">
                                            <span>
                                                <i class="icon-c16"></i><span class="notice">
                                                    (*)
                                                    Phim chỉ dành cho khán giả từ 16 tuổi trở lên
                                                </span>
                                            </span>
                                        </div>
                                        <div class="ticket-info">
                                            <div class="dotted-line">
                                                <b>Ghế: &nbsp</b>
                                                <galaxy-summary-seats ng-model="bookingTickets"
                                                                      ng-seat-label="seatLabel"></galaxy-summary-seats>
                                            </div>
                                            <div ng-if="appliedVouchers.length" class="dotted-line">
                                                <galaxy-summary-voucher ng-model="appliedVouchers"
                                                                        ng-discount-amount="discountAmount"
                                                                        ng-remove-voucher="removeVoucher"></galaxy-summary-voucher>
                                            </div>
                                        </div>
                                        <div ng-hide="step==&quot;select-infomation&quot;" class="ticket-button" style="display: inline-flex;margin-left: 30px;">
                                            <a href="/home/muaves" style="font-size: 14px;
                                                                            letter-spacing: 1px;
                                                                            text-transform: uppercase;
                                                                            color: #ffffff;
                                                                            background-color: #f26b38;
                                                                            padding: 10px;
                                                                            text-decoration: none;
                                                                            line-height: 1;
                                                                            margin-right: 32px;">Quay lại</a>
                                            <form asp-controller="home" asp-action="chonghe" asp-route-maPhim="@Model.MaPhim">
                                                <button type="submit" style="font-size: 14px;
                                                                            letter-spacing: 1px;
                                                                            text-transform: uppercase;
                                                                            color: #ffffff;
                                                                            background-color: #f26b38;
                                                                            padding: 10px;
                                                                            text-decoration: none;
                                                                            line-height: 1;
                                                                            border: none;">
                                                    Tiếp tục
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--include home/home.jade-->
    <div class="footer-content">
        <footer class="footer-bg">
            <div class="container">
                <div class="row">
                    <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_nav_menu">
                                <h1 class="title-widget">Giới thiệu</h1>
                                <ul>
                                    <li>
                                        <a href="/ve-chung-toi">
                                            <i class="fa fa-angle-double-right"></i> Về chúng
                                            tôi
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/thoa-thuan-su-dung">
                                            <i class="fa fa-angle-double-right"></i> Thoả
                                            thuận sử dụng
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/quy-che-hoat-dong">
                                            <i class="fa fa-angle-double-right"></i> Quy chế
                                            hoạt động
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/chinh-sach-bao-mat">
                                            <i class="fa fa-angle-double-right"></i> Chính
                                            sách bảo mật
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_nav_menu">
                                <h1 class="title-widget">Góc điện ảnh</h1>
                                <ul>
                                    <li>
                                        <a href="/dien-anh"><i class="fa fa-angle-double-right"></i> Thể loại phim</a>
                                    </li>
                                    <li>
                                        <a href="/binh-luan-phim">
                                            <i class="fa fa-angle-double-right"></i> Bình luận
                                            phim
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/movie-blog"><i class="fa fa-angle-double-right"></i> Blog điện ảnh</a>
                                    </li>
                                    <li>
                                        <a href="/phim-hay"><i class="fa fa-angle-double-right"></i> Phim hay tháng</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_nav_menu">
                                <h1 class="title-widget">Hỗ trợ</h1>
                                <ul>
                                    <li><a href="/gop-y"><i class="fa fa-angle-double-right"></i> Góp ý</a></li>
                                    <li>
                                        <a href="/sale-and-service">
                                            <i class="fa fa-angle-double-right"></i> Sale &amp;
                                            Services
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/rap-gia-ve"><i class="fa fa-angle-double-right"></i> Rạp / giá vé</a>
                                    </li>
                                    <li>
                                        <a href="/tuyen-dung"><i class="fa fa-angle-double-right"></i> Tuyển dụng</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div style="z-index:2" class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <ul class="list-unstyled clear-margins">
                            <li class="widget-container widget_recent_news">
                                <h1 class="title-widget">Kết nối Galaxy cinema</h1>
                                <div class="social-icons">
                                    <ul class="nomargin">
                                        <a href="https://facebook.com/galaxycine.vn" target="_blank">
                                            <i id="social" class="icon-facebook-app-logo social-fb"></i>
                                        </a>
                                        <a href="https://www.youtube.com/user/galaxymovies" target="_blank">
                                            <i id="social" class="icon-youtube-logo social-youtube"></i>
                                        </a>
                                        <!--a(href='#{config.instagramUrl}' target="_blank")-->
                                        <!--  i#social.icon-instagram-logo.social-inst-->
                                        <a href="https://www.instagram.com/galaxycinema/" target="_blank">
                                            <i id="social" class="icon-instagram-logo social-inst"></i>
                                        </a>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <div class="store">
                            <ul class="list-unstyled clear-margins">
                                <li class="widget-container widget_recent_news">
                                    <h1 class="title-widget">Download app</h1>
                                    <div class="social-icons">
                                        <ul class="nomargin">
                                            <!--a(href='#{config.iosAppUrl}' target="_blank")-->
                                            <a href="https://itunes.apple.com/vn/app/galaxy-cinema/id593312549?l=vi&amp;mt=8"
                                               target="_blank">
                                                <i id="social"
                                                   class="icon-apple-store social-store"></i>
                                            </a>
                                            <!--a(href='#{config.androidAppUrl}' target="_blank")-->
                                            <a href="https://play.google.com/store/apps/details?id=com.galaxy.cinema&amp;hl=vi"
                                               target="_blank">
                                                <i id="social"
                                                   class="icon-google-play social-store"></i>
                                            </a>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="z-index:1" class="container ano-trade">
                <div class="wrap-icon">
                    <a href="http://online.gov.vn/Home/WebDetails/5005">
                        <img alt="" title=""
                             src="../RapChieuPhim/website/images/glx_trade.png" width="150px" height="100%">
                    </a>
                </div>
            </div>
        </footer>
        <div class="footer-bottom footer-line">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <a href="/">
                            <img src="website/images/galaxy-logo-footer.png" alt="Galaxy Cinema">
                        </a>
                        <div class="copyright">
                            <p>
                                Công Ty Cổ Phần Phim Thiên Ngân, Tầng 3, Toà Nhà Bitexco Nam Long, 63A Võ Văn Tần, P. Võ
                                Thị Sáu, Quận 3, Tp. Hồ Chí Minh
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="loginController">
        <div id="login-modal" class="modal fade">
            <div ng-if="openLogin" class="modal-dialog">
                <div class="modal-outer-container">
                    <div class="modal-middle-container">
                        <div class="login-wrapper animated slideInDown">
                            <div class="login-container">
                                <span ng-click="closeModel()" class="close">
                                    <i class="icon-cancel"></i>
                                </span>
                                <div class="tab-login-line">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a id="a_tab_login_1" href="#tab_login_1"
                                               data-toggle="tab">Đăng nhập</a>
                                        </li>
                                        <li><a class="line">/</a></li>
                                        <li><a id="a_tab_login_2" href="#tab_login_2" data-toggle="tab">Đăng ký</a></li>
                                    </ul>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="tab-content">
                                                <div id="tab_login_1" class="tab-pane active">
                                                    <div class="login-tab-wrapper">
                                                        <div class="login-heading">
                                                            <div class="text-heading">
                                                                <span ng-if="!enableSkip"
                                                                      class="sub-text">
                                                                    Vui lòng đăng nhập trước khi mua vé
                                                                    để tích luỹ điểm, cơ hội nhận thêm nhiều ưu đãi từ
                                                                    chương trình thành viên Galaxy Cinema.
                                                                </span><span ng-if="enableSkip" class="sub-text">
                                                                    Bạn có thể mua
                                                                    vé mà không cần đăng nhập. Tuy nhiên, bạn sẽ không
                                                                    được tích luỹ điểm thành viên.
                                                                </span>
                                                            </div>
                                                            <p ng-if="message" class="message">{{message}}</p>
                                                        </div>
                                                        <form ng-submit="submit()" class="login-form">
                                                            <input placeholder="Email" type="email"
                                                                   ng-model="userInfo.email" required class="login"><input placeholder="Mật khẩu" type="password"
                                                                                                                           ng-model="userInfo.password" required class="login">
                                                            <div class="login-remember">
                                                                <!--.remember-->
                                                                <!--  .toggle-button.toggle-button-login-->
                                                                <!--    input#toggleRemember(type='checkbox' ng-model='userInfo.remember')-->
                                                                <!--    label(for='toggleRemember') Ghi nhớ-->
                                                                <!--    .toggle-button-icon-->
                                                                <div class="forget-pass">
                                                                    <a id="forgetPass" href=""
                                                                       ng-click="openForgetPass()">Quên mật khẩu?</a>
                                                                </div>
                                                                <div style="float: right" ng-if="userNotActive == true"
                                                                     class="forget-pass">
                                                                    <a href=""
                                                                       ng-click="reSendActiveCode()">
                                                                        Gửi lại link kích
                                                                        hoạt
                                                                    </a>
                                                                </div>
                                                            </div><button class="btn primary input">
                                                                <i ng-show="isSubmit"
                                                                   class="fa fa-pulse fa-spinner"></i>Đăng
                                                                nhập
                                                            </button>
                                                            <div ng-if="enableSkip" class="divider-line"></div><a href="javascript:;" ng-if="enableSkip"
                                                                                                                  ng-click="closeModel()" class="btn primary input">
                                                                Mua vé
                                                                không đăng nhập
                                                            </a>
                                                            <!--.social-login-->
                                                            <!--  span Hoặc đăng nhập bằng-->
                                                            <!--  a(href='')-->
                                                            <!--    i.icon-facebook-->
                                                            <!--  a(href='')-->
                                                            <!--    i.icon-google-plus-->
                                                        </form>
                                                    </div>
                                                </div>
                                                <div id="tab_login_2" ng-controller="registerController"
                                                     class="tab-pane">
                                                    <div class="login-tab-wrapper">
                                                        <div ng-if="message" class="login-heading">
                                                            <div class="text-heading">
                                                                <!--span.sub-text.error {{message}}-->
                                                                <p class="message">{{message}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="login-form">
                                                            <form ng-if="registerStep == &quot;register&quot;"
                                                                  ng-submit="submitOTP()">
                                                                <input placeholder="Họ tên"
                                                                       type="text" ng-model="user.fullName" required
                                                                       class="login first">
                                                                <div class="row city">
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 first-col">
                                                                        <input type="text" placeholder="Số điện thoại"
                                                                               maxlength="14" ng-model="user.mobilePhone"
                                                                               required class="login register-input">
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 second-col mt-14">
                                                                        <galaxy-select ng-model="genderSelect"></galaxy-select>
                                                                    </div>
                                                                </div><input type="email" placeholder="Email"
                                                                             ng-model="user.email" required
                                                                             class="login register-input remove-mb">
                                                                <div class="row city">
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 first-col">
                                                                        <input type="password" placeholder="Mật khẩu"
                                                                               ng-model="user.password" required
                                                                               class="login">
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-6 col-xs-6 second-col">
                                                                        <input type="password"
                                                                               placeholder="Xác nhận mật khẩu"
                                                                               ng-model="user.confirmPassword" required
                                                                               class="login">
                                                                    </div>
                                                                </div>
                                                                <div class="row birthday-signup">
                                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                                        <galaxy-datepicker ng-model="user.dateOfBirth"></galaxy-datepicker>
                                                                    </div>
                                                                </div>
                                                                <p class="text-confirm-signup">
                                                                    Tôi đã đọc và đồng ý
                                                                    với&nbsp<a ng-click="openPolicy()"
                                                                               data-toggle="modal"
                                                                               data-target="#popupPolicies">
                                                                        <b>
                                                                            CHÍNH
                                                                            SÁCH&nbsp
                                                                        </b>
                                                                    </a>của chương trình.&nbsp
                                                                </p>
                                                                <br><button class="btn primary input">Đăng ký</button>
                                                            </form>
                                                            <div ng-if="registerStep == 'otp'" class="login-container">
                                                                <div class="tab-login-line">
                                                                    <div class="tab-login-title">
                                                                        Vui lòng nhập OTP
                                                                    </div>
                                                                    <div class="login-tab-wrapper">
                                                                        <div class="login-heading success">
                                                                            <div class="login-form">
                                                                                <form ng-submit="submit()">
                                                                                    <input placeholder="Nhập OTP"
                                                                                           type="text" ng-model="user.code"
                                                                                           class="login first"><button class="btn primary input">
                                                                                        Kiểm
                                                                                        tra
                                                                                    </button>
                                                                                    <div class="text-heading">
                                                                                        <p ng-if="otpCountDown &gt; 0">
                                                                                            <span id="count-down-otp-register"
                                                                                                  class="sub-text"></span>Gửi
                                                                                            lại OTP sau: {{
                                                                                            otpCountDown }}
                                                                                        </p>
                                                                                    </div>
                                                                                    <div class="text-heading">
                                                                                        <span class="sub-text">
                                                                                            Bạn vui
                                                                                            lòng truy cập tin nhắn để
                                                                                            nhận OTP
                                                                                        </span>
                                                                                    </div>
                                                                                </form>
                                                                            </div><button ng-if="otpCountDown == 0"
                                                                                          ng-click="recallOTP()"
                                                                                          class="btn secondary input">
                                                                                <span id="count-down-otp-aa"
                                                                                      class="sub-text"></span>Gửi lại
                                                                                OTP
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="forgetPassController">
            <div id="forgetpass-modal" style="z-index:1111;" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-outer-container">
                        <div class="modal-middle-container">
                            <div class="login-wrapper animated slideInDown">
                                <div class="login-container">
                                    <span ng-click="closeModelForget()" class="close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                    <div class="tab-login-line">
                                        <div class="tab-login-title">Quên mật khẩu</div>
                                        <div class="login-tab-wrapper">
                                            <div class="login-heading">
                                                <div class="text-heading">
                                                    <span class="sub-text">
                                                        Vui lòng cung cấp email
                                                        đăng nhập, chúng tôi sẽ gửi link kích hoạt cho bạn.
                                                    </span>
                                                </div>
                                            </div>
                                            <p ng-if="message" class="message">{{message}}</p>
                                            <form ng-submit="submit()" class="login-form">
                                                <input placeholder="Email"
                                                       type="email" ng-model="item.email" required class="login">
                                                <div class="row captcha">
                                                    <div class="col-md-6 col-sm-6 col-xs-8 first-col">
                                                        <galaxy-captcha data-config="captchaConfig"></galaxy-captcha>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-4 second-col">
                                                        <input placeholder="Nhập mã captcha" type="text"
                                                               ng-model="item.captcha" required class="login">
                                                    </div>
                                                </div><button class="btn primary input">
                                                    <i ng-show="isSubmit"
                                                       class="fa fa-pulse fa-spinner"></i>Cấp lại mật khẩu
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--#success-modal(style='display: none;')-->
        <div ng-controller="registerController">
            <div id="success-modal" style="z-index:1111;" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-outer-container">
                        <div class="modal-middle-container">
                            <div class="login-wrapper animated slideInDown">
                                <div class="login-container">
                                    <span ng-click="closeModelSuccess()" class="close">
                                        <i class="icon-cancel"></i>
                                    </span>
                                    <div class="tab-login-line">
                                        <div class="tab-login-title">Đăng ký thành công</div>
                                        <div class="login-tab-wrapper">
                                            <div class="login-heading success">
                                                <i class="icon-success"></i>
                                                <div class="text-heading">
                                                    <span class="sub-text">
                                                        Chào mừng đến G-Star
                                                        Club!
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--include active-->
    </div>
    <div id="trailerModal" class="modal fade modal-trailer">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true"
                            class="close">
                        ×
                    </button>
                    <h4 class="modal-title">Galaxy Cinema</h4>
                </div>
                <div id="galaxyVideo" class="modal-body"></div>
            </div>
        </div>
    </div>
    <div ng-controller="locationController">
        <div id="location-modal" style="display: none;" class="login-overlay">
            <div class="modal-outer-container">
                <div class="modal-middle-container">
                    <div class="login-wrapper animated slideInDown location">
                        <div class="login-container">
                            <span class="close"><i class="icon-cancel"></i></span>
                            <h2>Chọn thành phố</h2>
                            <div class="tab-login-line">
                                <div class="login-tab-wrapper">
                                    <div class="login-heading">
                                        <div class="text-heading">
                                            <span class="sub-text">
                                                Vui lòng chọn thành phố hiện
                                                tại của bạn để xem lịch chiếu chính xác nhất.
                                            </span>
                                        </div>
                                    </div>
                                    <form ng-submit="submit()" class="login-form">
                                        <div class="row city">
                                            <div class="col-md-7 col-sm-7 col-xs-12 first-col">
                                                <galaxy-select ng-model="citySelect"></galaxy-select>
                                            </div>
                                            <div class="col-md-5 col-sm-5 col-xs-12 second-col">
                                                <button class="btn primary input location">
                                                    Tiếp tục
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addcv-modal" ng-controller="applyRecruitmentController" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-outer-container">
                <div class="modal-middle-container">
                    <div class="login-wrapper location">
                        <div class="login-container">
                            <span ng-click="closeModel()" class="close">
                                <i class="icon-cancel"></i>
                            </span>
                            <h2 class="recruitment">Nộp hồ sơ tuyển dụng</h2>
                            <div class="tab-login-line">
                                <div class="login-tab-wrapper">
                                    <div ng-if="message" class="login-heading">
                                        <div class="text-heading">
                                            <p class="message">{{message | translate}}</p>
                                        </div>
                                    </div>
                                    <div class="recruitment-form">
                                        <form ng-submit="submit()">
                                            <input id="name" placeholder="Họ và tên" type="text"
                                                   ng-model="cvinfo.name" required class="login"><input id="email"
                                                                                                        type="email" placeholder="Email" required ng-model="cvinfo.email"
                                                                                                        class="login"><input id="title" type="text" placeholder="Tiêu đề"
                                                                                                                             required ng-model="cvinfo.subject" class="login"><textarea rows="10"
                                                                                                                                                                                        placeholder="Nội dung" ng-model="cvinfo.message" required
                                                                                                                                                                                        class="support-form"></textarea><input id="attachfile" type="file"
                                                                                                                                                                                                                               nv-file-select uploader="uploader" class="login">
                                            <div class="row captcha">
                                                <div class="col-md-6 col-sm-6 col-xs-6 first-col">
                                                    <galaxy-captcha data-config="captchaConfig"></galaxy-captcha>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 second-col">
                                                    <input id="capcha"
                                                           placeholder="Nhập mã captcha" name="captcha" type="text"
                                                           ng-model="cvinfo.captcha" required class="login">
                                                </div>
                                            </div><button class="btn primary input">
                                                <i ng-show="isSubmit"
                                                   class="fa fa-pulse fa-spinner"></i>Nộp hồ sơ
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popupPolicies" ng-controller="policiesPopupController" style="z-index: 1100" class="dialog modal fade">
        <div class="modal-dialog">
            <div class="modal-outer-container">
                <div class="modal-middle-container">
                    <div class="login-wrapper animated bounceIn location">
                        <div class="login-container dialog">
                            <span ng-click="closeModel()" class="close">
                                <i class="icon-cancel"></i>
                            </span>
                            <h2>Chính sách</h2>
                            <div id="policiesTab">
                                <div ng-controller="policyController" class="tab-movies-line">
                                    <ul class="nav nav-tabs">
                                        <li ng-repeat="(key, item) in info" class="{{key == 0 ? 'active' : ''}}">
                                            <a href="#tab_{{item.id}}_popup" data-toggle="tab">{{item.name}}</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content content-text">
                                        <div ng-repeat="(key, item) in info" id="tab_{{item.id}}_popup"
                                             class="{{key == 0 ? 'active' : '' + item.slug == 'huong-dan' ? 'scroll-content' : ''}} tab-pane">
                                            <div ng-bind-html="item.description" class="policy-content"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <galaxy-dialog></galaxy-dialog>
    <script src="/customjs-min/lazyload.js" async></script>
    <script>
        window.lazyLoadOptions = {
            img: ".lazy"
        };
    </script>
    <!--include ../popup/dialog-->
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app-check.js"></script>
    <script src="../RapChieuPhim/js/axios.min.js"></script>
    <script src="../RapChieuPhim/js/lodash-merge.js"></script>
    <script src="/customjs-min/firebase-setup.js"></script>

    <script>
        // lấy giá trị value trong thẻ input quantity
        var inputVal = document.getElementById("quantity-" + i).value;
        // Lấy phần tử button và span theo id
        function Tang(i) {
            const quantityInput = document.getElementById(`quantity-${i}`);
            const increaseBtn = document.getElementById(`increase-btn-${i}`);
            const quantity = parseInt(quantityInput.value);
            quantityInput.value = quantity + 1;

            TinhTongTien(i);

            TongTienTatCa();
        }

        function Giam(i) {
            const quantityInput = document.getElementById(`quantity-${i}`);
            if (quantityInput.value > 0) {
                const decBtn = document.getElementById(`dec-${i}`);
                const quantity = parseInt(quantityInput.value);
                quantityInput.value = quantity - 1;
            }

            TinhTongTien(i);

            TongTienTatCa();
        }

        function TinhTongTien(i) {
            const quantityInput = document.getElementById(`quantity-${i}`);
            const dongiaElement = document.getElementById(`dongia-${i}`);
            const tongtienElement = document.getElementById(`tongtien-${i}`);

            const quantity = parseInt(quantityInput.value);
            const dongia = parseFloat(dongiaElement.innerText);
            const tongtien = quantity * dongia;

            tongtienElement.innerText = tongtien.toFixed(2);
        }

        function TongTienTatCa() {
            // Lấy bảng theo id
            //const table = document.getElementById("my-table");

            //// Lấy các cột giá tiền trong bảng
            //const priceColumns = table.querySelectorAll("[id^=dongia-]");

            //// Tính tổng giá tiền
            //let total = 0;
            //priceColumns.forEach((column) => {
            //    total += parseFloat(column.textContent);
            //});

            //// Cập nhật giá trị của cột tổng tiền
            //document.getElementById("tongtienfull").textContent = total;
        }

    </script>
</body>

</html>


